/* loading screen */
.loading {
    background-color: #1a1a1f;
    color: #E3E3E7;
    margin-top: -12rem;
    height: 105vh;
}

.extra-space {
    padding: 10rem;
}

.loading-title{
    text-align: center;
    font-size: 3em;
    color: #007fff;
    margin-top: 2em;
}

.loading-desc{
    text-align: center;
    font-size: 1.5em;
    margin-top: 1em;
}